:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --paler-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white: #fff;
}

body {
    margin: 0;
    background-image: url(../order-summary-component/images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 20%;
    background-color: var(--pale-blue);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0;
}

/* 
============
Typography
============
*/
h2 {
    font-weight: 900;
}

h2 + p {
    font-weight: 500;
    color: var(--desaturated-blue);
}


.change-price {
    /* text-decoration-skip-ink: none; */
    text-underline-offset: 1.4px;
    text-decoration-thickness: 0.5px;
}

.change-price:hover,
.change-price:focus {
    opacity: .7;
    text-decoration: none;
}

.price {
    color: var(--desaturated-blue);
}

.plan-title,
.price {
    font-size: 1rem;
}


/* 
============
Layout
============
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

.card-container {
    max-width: 90%;
    width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--white);
    border-radius: 15px;
}

.card-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    width: 80%;
    margin: 0 auto;
}

.order-plan {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: var(--paler-blue);
    padding: 1em;
    border-radius: 15px;
    margin: 1.5em 0;
}

.plan div img {
    margin-right: 1em;
}
.price {
    margin: 0;
}

.plan {
    display: flex;
    align-items: center;
}

/* 
============
Buttons
============
*/

.btn {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    text-decoration: none;
    padding: 1em 0;
    font-weight: 700;
    border-radius: 10px;
}

.btn-primary {
    background-color: var(--bright-blue);
    color: var(--white);
    box-shadow: 0 10px 1em hsla(245, 75%, 52%, .5);
}

.btn-primary:hover,
.btn-primary:focus {
    opacity: .7;
}

.btn-secondary {
    color: var(--desaturated-blue);
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--dark-blue);
}


/* 
=============
Media Queries
=============
*/

@media (max-width: 500px) {
    body {
        background-image: url(../order-summary-component/images/pattern-background-mobile.svg);
        background-position: unset;
    }

    .plan-title,
    .price,
    .change-price {
        font-size: .9rem;
    }
    
}